pandas==2.2.3
scikit-learn==1.5.2
xgboost==2.1.1
imbalanced-learn==0.12.3
torch==2.4.1
torch-geometric==2.5.3
captum==0.7.0
ollama==0.3.3
numpy==1.26.4
jupyter==1.1.1
fastapi==0.115.0
uvicorn==0.30.6